{% extends "base.html" %}
{% block content %}
<h2>Add New Patient</h2>

<form method="post" action="{{ url_for('add_patient') }}">
    <label>Name:<br><input type="text" name="name" required></label><br>
    <label>Phone:<br><input type="text" name="phone"></label><br>
    <label>Next Appointment:<br><input type="datetime-local" name="next_appointment"></label><br>
    <label>Clinic Type(s):<br>
        {% for ct in clinic_types %}
            <input type="checkbox" name="clinic_type" value="{{ ct.id }}"> {{ ct.name }}<br>
        {% endfor %}
    </label><br>
    <input type="submit" value="Add Patient">
</form>
{% endblock %}

