<!doctype html>
<html>
<head>
    <title>Add Patient</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Add New Patient</h1>

<form method="post" action="/add">
    Name:<br>
    <input type="text" name="name" required><br>
    Phone:<br>
    <input type="text" name="phone" required><br>
    Next Appointment:<br>
    <input type="date" name="next_appointment" required><br>
    Clinic Type:<br>
    <input type="text" name="clinic_type" required><br><br>
    <input type="submit" value="Add Patient">
</form>
<a href="/">Back to Patient List</a>
</body>
</html>
